<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Trip:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="trip-name">Trip name:</label>
        <input class="form-input" type="text" id="trip-name" name="trip-name" />
      </div>
      <div class="form-group">
        <label for="start-time">Start time:</label>
        <input class="form-input" type="number" id="start-time" name="start-time" />
      </div>
      <div class="form-group">
        <label for="nearest-station">Nearest station:</label>
        <textarea class="form-input" id="nearest-station" name="nearest-station"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if trips.length}}
  <div class="col-md-6 trip-list">
    <h3>Current Trips:</h3>

    {{#each trips as |trip|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/trip/{{trip.id}}">{{Trip.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{trip.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/mymetro.js"></script>
